pkgbase = noto-color-emoji-fox
	pkgdesc = Google Noto Color Emoji font
	pkgver = 2.048.r0.gb3e3051
	pkgrel = 1
	url = https://www.google.com/get/noto/
	arch = any
	license = OFL-1.1
	makedepends = git
	makedepends = harfbuzz-utils
	makedepends = nanoemoji
	makedepends = python-nototools
	makedepends = python-fonttools
	makedepends = pngquant
	makedepends = zopfli
	makedepends = python-zopfli
	makedepends = python-cairo
	makedepends = imagemagick
	provides = emoji-font
	source = git+https://github.com/googlefonts/noto-emoji.git#commit=b3e3051a088047d19fd4d49b1c3ac42fb8c3aaf8
	source = 0001-foxxo.patch
	b2sums = 762b230b2a84228bf1adc6225fb501a2d9eee3349bf4fdbb316ad73763cda659e9dc5951e10e812c986c42e5da1f92c34a1ca16fe7d9178ccf46cdc87934b2a4
	b2sums = 7486a043d46a30f4fe903dc4aae78184e0f4a34003421e9af5b1eb590748d433e2f7ee4b76f59724075065da83c4310fb0b6e9900fa3557fe3512c4c8b492967

pkgname = noto-color-emoji-fox
