pkgbase = uutils-coreutils-storm
	pkgdesc = GNU Coreutils rewritten in Rust
	pkgver = 0.0.14
	pkgrel = 1
	url = https://github.com/uutils/coreutils
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = python-sphinx
	depends = glibc
	depends = gcc-libs
	provides = coreutils
	conflicts = uutils-coreutils-git
	conflicts = coreutils
	options = !lto
	source = uutils-coreutils-storm-0.0.14.tar.gz::https://github.com/uutils/coreutils/archive/0.0.14.tar.gz
	source = tests.patch
	sha256sums = 527563ff39aeea9e56f91996226a51034ed648732de71d075e3d12683b90b155
	sha256sums = ed6a905a004275b4629d2a720d6697c845e2c48e8a1062bd27284ced3631baf8

pkgname = uutils-coreutils-storm
