pkgbase = perl-test-command-simple
	pkgdesc = Perl module that provides simple filename and pathname matching
	pkgver = 0.05
	pkgrel = 1
	url = https://metacpan.org/dist/Test-Command-Simple
	arch = any
	license = Artistic-1.0-Perl OR GPL-1.0-or-later
	depends = perl
	options = !emptydirs
	source = https://cpan.metacpan.org/authors/id/D/DM/DMCBRIDE/Test-Command-Simple-0.05.tar.gz
	b2sums = 74258f3e00a550fdcdbb755a37b12141b4e1342501d6af4c79d6c35616def30bb648cb45a4299c024fdf535d3351bae74dab8b9a09e0b442b80c8f5eb3b08130

pkgname = perl-test-command-simple
