pkgbase = uutils-coreutils-musl
	pkgdesc = GNU Coreutils rewritten in Rust - Built with musl libc
	pkgver = r6379.2e251f91f
	pkgrel = 1
	url = https://github.com/uutils/coreutils
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	makedepends = rust-musl
	makedepends = cargo
	makedepends = cmake
	makedepends = python-sphinx
	makedepends = musl
	makedepends = gcc-libs
	provides = coreutils
	provides = uutils-coreutils
	conflicts = uutils-coreutils-git
	conflicts = uutils-coreutils
	conflicts = coreutils
	source = uutils::git+https://github.com/uutils/coreutils.git#commit=2e251f91f1f5c65518f84c4d2219bf3bca50faaf
	source = 0001_fix-install.patch
	sha256sums = SKIP
	sha256sums = ae02faf5ca52e0f3005f968e3399d4cb0f736aa2c64c897f8ec856e02fdf11f0

pkgname = uutils-coreutils-musl
